
<section class="details">

  <div *ngIf="product as p; else notFound" class="details-card">

    <div class="image-wrap">
      <img [src]="p.img" [alt]="p.name" />
    </div>

    <div class="info">
      <h1 class="title">{{ p.name }}</h1>

      <div class="section">
        <h3>Category : {{ p.category }}</h3>
      </div>

      <div class="heat">
        <h3>Heat Level</h3>
        <div class="flames">
          <span *ngFor="let _ of heatArray">🔥</span>
        </div>
      </div>

      <div class="purchase">
        <div class="price">Rs {{ p.price }} /-</div>
        <button class="buy-btn">Add to Cart</button>
      </div>

      <div class="section">
        <h3>Description</h3>
        <p class="desc">{{ p.fullDesc }}</p>
      </div>

      <div class="section">
        <h3>Ingredients</h3>
        <ul class="ingredients-list">
          <li *ngFor="let item of p.ingredients">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

      <a (click)="goBack()" class="back">← Back</a>

  </div>

  <ng-template #notFound>
    <div class="not-found">
      Product not found.
    </div>
  </ng-template>
</section>